* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Century Gothic";
  color: rgb(247,108,108);
  
}

section {
  height: 100%;
  padding: 2em 0;
}

.section1 {
  background-color: rgb(251,232,166);
  clip-path: polygon(0 0,100% 0,100% 80%,0 100%);
  padding-bottom: 10%;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-size: 2em;
}

.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2em 0;
}



.text-wrapper{
  width: 50%;
}

.text {
  margin-bottom: 1em;
}

.btn-wrapper {
  margin-top: 2em;
}

.btn {
  display: inline-block;
  cursor: pointer;
  border: 2px solid #fff;
  padding: 0.5em 2em;
  font-size: 1.1em;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  background-color: #fff;
  color: coral;
}